USE [IdeaBid]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [nvarchar](50) NOT NULL,
	[AdminPassword] [nvarchar](50) NOT NULL,
	[AdminFullName] [nvarchar](100) NOT NULL,
	[AdminEmail] [nvarchar](50) NOT NULL,
	[AdminBirthDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminInfo_1] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AdminInfo_Email] UNIQUE NONCLUSTERED 
(
	[AdminEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AdminInfo_Username] UNIQUE NONCLUSTERED 
(
	[AdminUsername] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevInfo]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevInfo](
	[DevID] [int] IDENTITY(1,1) NOT NULL,
	[DevUsername] [nvarchar](50) NOT NULL,
	[DevFullName] [nvarchar](100) NOT NULL,
	[DevEmail] [nvarchar](50) NOT NULL,
	[DevPassword] [nvarchar](50) NOT NULL,
	[AdminID] [int] NOT NULL,
 CONSTRAINT [PK_DevInfo] PRIMARY KEY CLUSTERED 
(
	[DevID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__DevInfo__4E9129BA6D8BC5B8] UNIQUE NONCLUSTERED 
(
	[DevEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLog]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[ActionType] [varchar](50) NOT NULL,
	[ActionBy] [int] NOT NULL,
	[ActionDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [varchar](20) NULL,
	[ConfirmedBy] [int] NULL,
	[ConfirmationDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK__PaymentT__55433A4BE20AAF75] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectRequest]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Languages] [nvarchar](500) NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BudgetOffered] [decimal](18, 2) NULL,
	[Deadline] [datetime] NULL,
	[StatusID] [int] NOT NULL,
	[PostedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__ProjectR__33A8519A18A4C595] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectResponse]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResponse](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[DevID] [int] NULL,
	[AdminID] [int] NULL,
	[ProposalDate] [datetime] NOT NULL,
	[ProposalAmount] [decimal](18, 2) NULL,
	[Deadline] [datetime] NULL,
	[Feedback] [nvarchar](max) NULL,
	[StatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatus]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2025-10-13 05:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserInfo_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserInfo_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserInfo_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentLog] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  CONSTRAINT [DF__PaymentTr__Payme__625A9A57]  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[ProjectRequest] ADD  CONSTRAINT [DF__ProjectRe__Statu__59063A47]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[ProjectRequest] ADD  CONSTRAINT [DF__ProjectRe__Poste__59FA5E80]  DEFAULT (getdate()) FOR [PostedDate]
GO
ALTER TABLE [dbo].[ProjectResponse] ADD  DEFAULT (getdate()) FOR [ProposalDate]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__UserInfo__Create__24927208]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DevInfo]  WITH CHECK ADD  CONSTRAINT [FK_DevInfo_AdminInfo] FOREIGN KEY([AdminID])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[DevInfo] CHECK CONSTRAINT [FK_DevInfo_AdminInfo]
GO
ALTER TABLE [dbo].[PaymentLog]  WITH CHECK ADD  CONSTRAINT [FK__PaymentLo__Trans__690797E6] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[PaymentTransaction] ([TransactionID])
GO
ALTER TABLE [dbo].[PaymentLog] CHECK CONSTRAINT [FK__PaymentLo__Trans__690797E6]
GO
ALTER TABLE [dbo].[PaymentLog]  WITH CHECK ADD  CONSTRAINT [FK_PaymentLog_Admin] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[PaymentLog] CHECK CONSTRAINT [FK_PaymentLog_Admin]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_Admin] FOREIGN KEY([ConfirmedBy])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_Admin]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_PaymentMethod] FOREIGN KEY([PaymentMethod])
REFERENCES [dbo].[PaymentMethod] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_PaymentMethod]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[ProjectRequest] ([RequestID])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_Request]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK__ProjectRe__Categ__5BE2A6F2] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK__ProjectRe__Categ__5BE2A6F2]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK__ProjectRe__Statu__5DCAEF64] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProjectStatus] ([StatusID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK__ProjectRe__Statu__5DCAEF64]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK__ProjectRe__UserI__5AEE82B9] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK__ProjectRe__UserI__5AEE82B9]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequest_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK_ProjectRequest_Category]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequest_ProjectStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProjectStatus] ([StatusID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK_ProjectRequest_ProjectStatus]
GO
ALTER TABLE [dbo].[ProjectRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequest_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([ID])
GO
ALTER TABLE [dbo].[ProjectRequest] CHECK CONSTRAINT [FK_ProjectRequest_UserInfo]
GO
ALTER TABLE [dbo].[ProjectResponse]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResponse_AdminInfo] FOREIGN KEY([AdminID])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[ProjectResponse] CHECK CONSTRAINT [FK_ProjectResponse_AdminInfo]
GO
ALTER TABLE [dbo].[ProjectResponse]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResponse_DevInfo] FOREIGN KEY([DevID])
REFERENCES [dbo].[DevInfo] ([DevID])
GO
ALTER TABLE [dbo].[ProjectResponse] CHECK CONSTRAINT [FK_ProjectResponse_DevInfo]
GO
ALTER TABLE [dbo].[ProjectResponse]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResponse_ProjectRequest] FOREIGN KEY([RequestID])
REFERENCES [dbo].[ProjectRequest] ([RequestID])
GO
ALTER TABLE [dbo].[ProjectResponse] CHECK CONSTRAINT [FK_ProjectResponse_ProjectRequest]
GO
ALTER TABLE [dbo].[ProjectResponse]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResponse_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[ProjectStatus] ([StatusID])
GO
ALTER TABLE [dbo].[ProjectResponse] CHECK CONSTRAINT [FK_ProjectResponse_Status]
GO
